@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

header {
    background-image: linear-gradient(to right, #4b6cb7, #182848);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 2;
}

header > h1 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    text-align: center;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    color: #fff; /* Mantém a cor do texto como branco */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

article > h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

article > p {
    line-height: 1.6;
}

#itens {
    background-color: #4b6cb7; /* Cor de fundo do menu */
    position: absolute; /* Posicionamento absoluto em relação ao cabeçalho */
    top: 100%; /* Posiciona o menu abaixo do cabeçalho */
    left: 0; /* Alinha o menu à esquerda */
    width: 100%; /* Largura total do menu */
}

#itens ul {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão */
}

#itens ul li {
    margin-bottom: 10px; /* Espaçamento entre os itens do menu */
}

#itens ul li a {
    display: block; /* Transforma os links em elementos de bloco para ocupar a largura total */
    color: #fff; /* Cor do texto dos links */
    text-decoration: none; /* Remove a decoração de texto dos links */
    padding: 10px 20px; /* Preenchimento interno dos links */
    transition: background-color 0.3s ease; /* Efeito de transição para a cor de fundo */
}

#itens ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo ao passar o mouse sobre os links */
}
